.episode__info {
    width: 90%;
    margin: 1rem auto;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    gap: 50px
}

@media screen and (max-width: 540px) {
    .episode__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        gap: 30px
    }
    .switchers {
        margin-top: 1rem;
    }
}