.location__info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
    flex-shrink: 0;
}

@media screen and (max-width: 630px) {
    .location__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
}