@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 50px;
    box-shadow: -2px 0px 8px 2px rgba(0, 0, 0, 0.10);
    margin-bottom: 16px;
}

.nav-menu__links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

a:hover {
    color: grey;
}

.nav-menu__logo {
    cursor: pointer;
}

.links__link {
    text-transform: capitalize;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.active {
    border-bottom: 1px black dashed;
}

/* Гамбургер иконка */
.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: none;
}

.menu-btn span {
    width: 50px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    transition: all 0.5s;
    cursor: pointer;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.open span:nth-of-type(1) {
    display: none;
}

.menu-btn.open span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.open span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

@media screen and (max-width: 560px) {
    .nav-menu {
        flex-direction: column;
        align-items: space-between;
    }
    .nav-menu-logo-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-btn {
        display: block;
    }

    .nav-menu__items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .nav-menu__my-tickets {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .nav-menu__links {
        display: none;
    }

    .nav-menu__links.open{
        display: flex;
    }
}