.location__details {
    text-align: center;
}

.details__residents {
    margin: 1rem auto;
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    gap: 25px
}